<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stream.mapper.stream.UserInfoMapper">

	<insert id="saveUserInfo" parameterType="com.stream.service.api.entity.stream.UserInfo">
		insert into sys_user_info_t
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName !=null">
				user_name,
			</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<resultMap id="BaseResultMap"
		type="com.stream.service.api.entity.stream.UserInfo">
		<id column="userInfoId" jdbcType="INTEGER" property="userInfoId" />
		<result column="userName" jdbcType="VARCHAR" property="userName" />
	</resultMap>
	
	<sql id="Base_Column_List">
		user_info_id userInfoId,user_name userName
	</sql>

	<select id="selectAll" parameterType="com.stream.service.api.entity.stream.UserInfo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user_info_t
		<where>
			<trim suffixOverrides="and | or">
				<if test="userInfoId != null">
					and user_info_id = #{userInfoId,jdbcType=INTEGER}
				</if>
				<if test="userName != null">
					and user_name = #{userName,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</select>
</mapper>